<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Admin Dashboard</h1>
    </div>
    <div class="sidebar">
        <img class="round-logo" src="{{ url_for('static', filename='image/images.png') }}" alt="Admin Logo">
        <h2>Admin</h2>
        <ul>
            <li><a href="{{ url_for('admin') }}">Dashboard</a></li>
            <li><a href="{{ url_for('view_users') }}">Overview</a></li>
            <li><a href="{{ url_for('logout') }}" class="logout-link">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h2 style="color: #232334">Welcome, Admin</h2>
        </div>
        <div class="card">
            <h3>System Overview</h3>
            <p>Monitor lab systems and view user access.</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Admin Dashboard. All rights reserved.</p>
    </footer>
</body>
</html>
